body{
  
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='aliceblue', endColorstr='aliceblue', GradientType=0);
 /*  background: -webkit-linear-gradient(to bottom, aliceblue 50%, aliceblue) !important;
  background: -moz-linear-gradient(to bottom, aliceblue 50%, aliceblue) !important;
  background: -ms-linear-gradient(to bottom, aliceblue 50%, aliceblue) !important;
  background: -o-linear-gradient(to bottom, aliceblue 50%, aliceblue) !important;
  background: linear-gradient(to bottom, aliceblue 50%, aliceblue) !important; */
  background-image:url(../images/background-wood-13.jpg); 
  color: #808080;
}

div.well{
  height: 250px;
} 

/* div.backimg{
 	background-size: 20% 20%;
  	height: 300px;
	background-repeat: no-repeat;
	background: -webkit-linear-gradient(to bottom, red 50%, black) !important;
  	background: -moz-linear-gradient(to bottom, red 50%, black) !important;
  	background: -ms-linear-gradient(to bottom, red 50%, black) !important;
 	background: -o-linear-gradient(to bottom, red 50%, black) !important;
  	background: linear-gradient(to bottom, red 50%, black) !important;
} */

/* div.backpic{
	background-image : url(../images/O-CloudSolutionHubs-rgb.jpg);
	background-size: 20% 50%;
  	height: 100px;
  	background-repeat: no-repeat;
} */

.Absolute-Center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.Absolute-Center.is-Responsive {
    width: 75%;
    height: 90%;
    min-width: 1000px;
    max-width: 1500px;
    padding: 50px;
    background-color:#f1dcdc;
    border-bottom-left-radius: 3%;
    border-bottom-right-radius: 3%;
	border-top-left-radius: 3%;
    border-top-right-radius: 3%;
}

#logo-container{
  margin: auto;
  margin-bottom: 0px;
  width:100px;
  height:60px;
  background-image:url(../images/O-CloudSolutionHubs-rgb.jpg); 
  background-size: contain;
  background-repeat: no-repeat;
  
}

.container{
	padding: 25px;
}